<div  class="main-white-container">
  <div class="title">Hats-All-Folks Shopping Cart</div>

  <!-- BUILD BASIC TABLE OF ITEMS PURCHASED FOR SHOPPING CART -->
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>PRODUCT</th>
        <th>COLOR</th>
        <th>SIZE</th>
        <th>AMOUNT</th>
        <th>UNIT PRICE</th>
        <th>TOTAL</th>

      </tr>

    </thead>

    <tbody>
      <% items.forEach(function(element,index)
      {
        var total = element.quantity * element.price;
        var source = "images/thumb/" + element.sku + ".jpg";
//        console.log("quantity : " + el.quantity);
//        console.log("price : " + el.price)
//        console.log("total : " + total);

      %>
        <tr>
          <td><img src=<%= source %> </td>
          <td> <%= element.product %>     </td>
          <td> <%= element.color %>       </td>
          <td> <%= element.size %>        </td>
          <td> <%= element.quantity %>    </td>
          <td> <%= element.price %>       </td>
          <td> <%= total %>          </td>
          <td> <div style="cursor:pointer" class="delete_item" data-item_id=<%= element.sku %> data-item_index=<%= index %> > Delete </div> </td>

        </tr>

      <% });  %>

    </tbody>

  </table>

</div>
