<% items.forEach(function(el,index)
{
    var source="images/thumb/" + el.sku + ".jpg";
    var idIndex="thumbnail" + index;
%>

<!--Thumb Container Start-->
<div class="thumbnail-1" id="<%= idIndex%>">
  <div class="thumbnail-2" >
    <div class="thumb-inr3"><!--3 thumb-container Start-->
      <div class="thumb-pic"><!--pic-->
        <img src="<%= source%>" alt="" height="100%" width="100%" />
      </div>

      <div class="thumb-text"><!--text-->
        <h2><%= el.product %></h2>
        <div class="gray-rule4">
        </div>
        <p>
          <%= el.description %>
        </p>
      </div>

      <div class="clear">
      </div>

    </div><!--3 thumb-container thumb-inr3 End-->

    <div class="shadow-overlay"><!--Shadow Box Overlay-->
    </div>

    <div class="link-to-detail2"> <a class=detail-link data-list-index="<%= index %>" id="<%= el.sku%>" href="#Brixton-Detail">Click Here to Find Out More</a>
    </div>

    <div class="dividing-line">
    </div>

  </div>
<!--Thumb Container End-->

</div>

<% });  %>