<% items.forEach(function(el,index)
{
    var source="images/thumb/" + el.sku + ".jpg";
//    var linkIndex="link" + index;
%>

<!--Thumb Container Start-->
<div class="thumbnail-2" container-index="<%= index %>">
    <!--<div class="hat-name-thumb">
        BRIXTON FELT HAT
    </div>
    <div class="gray-rule3">
    </div>-->

    <div class="thumb-inr3"><!--3 thumb-container Start-->

        <div class="thumb-pic"><!--pic-->
            <img src="<%= source%>" alt="" height="100%" width="100%" />
        </div>

        <div class="thumb-text"><!--text-->
            <h2><%= el.product %></h2>
            <div class="gray-rule4">
            </div>
            <p>
                <%= el.description %>
            </p>
            <div class="thumb-text-float-right">> Click Here for <a class=detail-link data-listindex="<%= index %>" id="<%= el.sku%>" href="#Brixton-Detail">More Information</a>
            </div>
        </div>

        <div class="clear">
        </div>

    </div><!--3 thumb-container thumb-inr3 End-->

    <div class="shadow-overlay"><!--Shadow Box Overlay-->

    </div>

</div>
<!--Thumb Container End-->

<div class="white-block">
    <div class="thumb-text-float-right"><a class=detail-link listindex="<%= index %>" id="<%= el.sku%>" href="#Brixton-Detail">> Click Here for More Information</a>
</div>
</div>

<% });  %>